/* ---------------------
index css
---------------------*/
#banner {background-color: #eeb2ca;}

#banner p {
    color: #fff;
    text-shadow: 0px 2px 1px rgba(0,0,0,.5);
    padding: 5px 10px;
    margin-bottom: 0px;
 }

 .navbar {
     margin-bottom: 0px;
 }

 .navbar-header {height: 100px;}

#number {
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #000;
}

ul.navbar-nav {text-align: center;}

ul.navbar-nav li a {color: #000; transition: .3s;}
ul.navbar-nav li a:hover {background-color: #eeb2ca;}

ul.navbar-nav li.active a {font-weight: bold;}

 button span.icon-bar {
     background-color: #000;
     margin-top: 25px;
 }

a.navbar-brand img {width: 75px;}

#landing .col-md-8 {padding-left: 0px;}

#landingImg img {
    width: 100%;
}

#landingCta {
    text-align: center;
}

#landingCta p {padding: 10px 0px;}

a.ctaBtn{
    border: solid 2px #000;
    display: block;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s;
    text-align: center;
}
a.ctaBtn:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

#shopHm {
        margin-top: 3em;
        margin-bottom: 3em;
}

#shopHm #saleTag {
    font-size: 22px;
    background-color: #afe2e3;
    width: 100px;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 20px;
}

#shopHm img {
    width: 100%;
    display: block;
    margin: 0px auto;
}

#shopHm .col-md-6 {
    text-align: center;
    margin-bottom: 4em;
}

#productPrice {font-size: 20px; padding: 10px 0px;}

#myCarousel {height: 540px;}

#myCarousel .carousel-inner {
    text-align: center;
}

#myCarousel .item span {
    text-transform: uppercase;
    font-weight: bold;
}

#myCarousel .item h3 {
    padding-top: 10px;
}

#myCarousel .item p {
    padding: 10px 20px;
}

#myCarousel .item a.ctaBtn {
    margin: 0px 13px;
}

#myCarousel .carousel-control.left {background: none;}
#myCarousel .carousel-control.right {background: none;}

#newsletter {
    background-image: url("../img/cakePops.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

    margin-bottom: 6em;
}

#cakepopBox {
    text-align: center;
    width: 93%;
    position: relative;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
}

#cakepopBox h3 {margin-top: 0px; font-weight: bold;}

#insta .col-xs-6 {
    padding: 0px;
}

#insta {margin: 5em 0px;}

#insta .col-xs-6 img {
    width: 100%;
}
#insta .col-xs-6 img:hover {opacity: .7}

#recipes {margin-top: 7em; margin-bottom: 7em;}

#recipes .col-md-8 img {width: 100%;}

#recipes h2 {padding-bottom: 25px;}

#recipes .col-md-8 {padding: 0px;}

#recipes #timeDiv {display: flex; padding: 3em 0px; padding-top: 1em;}

#recipes #timeDiv .time {flex: 1;}

#recipes #timeDiv .time img {width: 30px; float: left; padding-right: 7px;}

#recipeCarousel  .carousel-control.left {background: none;}

#recipeCarousel  .carousel-control.right {background: none;}

#recipeDetail {padding: 0px 13px;}

#blogHm {margin-top: 7em; margin-bottom: 7em;}

.blogBox {display : flex; margin-bottom: 20px;}

.blogBox .blogImg {flex : 1;}
.blogBox .blogContent {flex : 1; padding-left: 5px;}

.blogBox .blogImg img {width: 100%;}

#shopPlatforms {margin-bottom: 7em;}

#shopPlatforms #socialBox {display: flex;}

#shopPlatforms #socialBox .icon {flex: 1; padding: 25px 0px;}

#shopPlatforms #socialBox img {width: 90%; flex: 1; display: block; margin: 0px auto;}

footer {background-color: #eeb2ca;}

footer ul {list-style: none; padding-left: 0px;}

footer ul li { margin-bottom: 5px;}
footer ul li a {color: #000; transition: .3s;}
footer ul li a:hover {color: #000; text-decoration: none;}

#newsletterForm {
    padding-top: 30px;
    padding-bottom: 20px;
}

#newsletterForm button {
    display: block;
    width: 100%;
    background: none;
    border: solid 2px #000;
    color: #000;
    transition: .3s;
}
#newsletterForm button:hover {
    background: #000;
    color: #fff;
}

ul#socialFooter {display: flex;}

ul#socialFooter li {padding-right: 10px;}

ul#socialFooter li img {width: 35px;}

#Copyright {text-align: center; padding-top: 30px; padding-bottom: 20px;}

/* ---------------------
shop css
---------------------*/
#imgHeader {position: relative;}

#imgHeader img {width: 100%;}

#imgHeader #imgText {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
    text-align: right;
    font-size: 34px;
}

#shop img {
    width: 280px;
    display: block;
    margin: 0px auto;
}

#shop #mainProduct {
    text-align: center;
    margin-bottom: 4em;
}

#shop #mainProduct h2 {
    font-size: 20px;
    margin-top: 0px;
}

#shop .productSlider {margin-top: 3em; margin-bottom: 3em;}

#shop .productSlider img {width: 150px;}
#shop .productSlider h1 {font-size: 22px;}

.sliderItem {text-align: center;}

.sliderItem p {font-size: 20px; padding: 10px 0px;}

.sliderItem a {color: #000;}
.sliderItem a:hover {text-decoration: none;}

.slick-list {
    width: 430px;
    margin: 0px auto;
}

.slick-slider {
    overflow: hidden;
}

/* ---------------------
product css
---------------------*/
#product img {width: 100%;}

#product #thumbnails {list-style: none; padding-left: 0px; display: block; margin: 0px auto;}

#product #thumbnails li {width: 25%; float: left;}

#breadcrumbs ul {list-style: none; display: flex;}

#breadcrumbs ul li {padding-right: 15px;}

/* ---------------------
recipe-all css
---------------------*/
#allRecipes img {width: 100%;}

/* ---------------------
single recipe css
---------------------*/

#recipe {margin-bottom: 7em;}

#recipe .col-md-8 img {width: 100%;}

#recipe h2 {padding-bottom: 25px;}

#recipe .col-md-8 {padding: 0px;}

#recipe #timeDiv {display: flex; padding: 3em 0px; padding-top: 1em;}

#recipe #timeDiv .time {flex: 1;}

#recipe #timeDiv .time img {width: 30px; float: left; padding-right: 7px;}

/* ---------------------
blogs css
---------------------*/
#blogs img {width: 100%;}




