/* ---------------------
index css
---------------------*/
.desk {display: block;}
.mobile {display: none;}

#landing p, #shopHm p, #specials p, #newsletter p, #insta p, #recipes p, #blogHm p, #shopPlatforms p {font-size: 16px; margin: 0px;}

#banner {background-color: #eeb2ca;}

#banner p {font-size: 16px; text-align: center; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

#banner p {
    color: #fff;
    text-shadow: 0px 3px 4px rgba(0,0,10,.8);
    padding: 5px 10px;
    margin-bottom: 0px;
 }

#number {
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #000;
    font-size: 16px;
}

ul.navbar-nav {text-align: center;}

ul.navbar-nav li a {color: #000; transition: .3s;}
ul.navbar-nav li a:hover {background-color: #eeb2ca;}

ul.navbar-nav li.active a {font-weight: bold;}

 button span.icon-bar {
     background-color: #000;
     margin-top: 25px;
 }

a.navbar-brand img {width: 75px;}

#landing, #shopHm, #specials, #newsletter, #insta, #recipes, #blogHm, #shopPlatformp {padding-bottom: 4em;}

#landingImg img {
    width: 100%;
}

#landingCta {
    text-align: center;
}

#landingCta p {padding-bottom: 20px;  font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 26px;}

a.ctaBtn{
    border: solid 1px #000;
    display: block;
    color: #000;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
    text-align: center;
    width: 250px;
    margin: 0px auto;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 300;
}
a.ctaBtn:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}



#shopHm {
        margin-top: 3em;
        margin-bottom: 3em;
}

#shopHm a#saleTag {
    font-size: 22px;
    background-color: #afe2e3;
    width: 200px;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 20px;
    color: #000;
}

#shopHm img {
    width: 100%;
    display: block;
    margin: 0px auto;
}

#shopHm h2 {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 35px;}
#shopHm .subheading {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 25px;  color: #afe2e3;}
.brandName {font-family: 'Cookie', cursive; font-size: 40px;}

#shopHm .col-md-6 {
    text-align: center;
    margin-bottom: 4em;
}

#shopHm p.productPrice, #mainProduct p.productPrice, #product p.productPrice, .aside p.productPrice {font-size: 24px; padding: 10px 0px; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

.modal-body #productInfo a.ctaBtn {color: #000; width: 100%; transition: .3s;}
.modal-body #productInfo a.ctaBtn:hover {color: #fff;}

.modal-header {border-bottom: none;}

.modal-header h4 {font-family: "futura-pt", sans-serif; font-size: 30px;}

.modal-header .close {opacity: 1; font-size: 30px;}
.modal-header .close:hover {opacity: .7;}
.modal-footer {display: none;}

#myCarousel {height: 540px;}

#myCarousel .carousel-inner {
    text-align: center;
}

#myCarousel .item span {
    text-transform: uppercase;
    font-weight: bold;
}

#myCarousel .item h3 {
    padding-top: 10px;
}

#myCarousel .item p {
    padding: 10px 20px;
}

#myCarousel .item a.ctaBtn {
    margin-top: 10px;
}

#myCarousel .carousel-control.left, #productCarousel .carousel-control.left {background: none;}
#myCarousel .carousel-control.right, #productCarousel .carousel-control.right {background: none;}


#newsletter {
    background-image: url("../img/cakePops.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

    margin-bottom: 6em;
}

#cakepopBox {
    text-align: center;
    width: 93%;
    position: relative;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
}

#cakepopBox h3 {margin-top: 0px; font-weight: bold;}

#insta .col-xs-6 {
    padding: 0px;
}

#insta .col-md-3 {
    padding: 5px;
}

#insta {margin-top: 5em;}

#insta .head {margin: 0px 5px; margin-bottom: 30px;font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

#insta .head h2 {font-size: 40px;}

#insta .col-xs-6 img, #insta .col-md-3 img {
    width: 100%;
    transition: .3s;
}
#insta .col-xs-6 img:hover, #insta .col-md-3 img:hover {opacity: .7}

#recipes {margin-top: 7em; margin-bottom: 7em;}

#recipes .col-md-8 img, #recipes .col-md-6 img {width: 100%;}

#recipes h2 {padding-bottom: 10px;  font-size: 40px; font-family: "futura-pt", sans-serif; font-size: 40px;}

#recipes .col-md-8 {padding: 0px;}

#recipes #timeDiv {display: flex; padding: 3em 0px; padding-top: 1em;}

#recipes #timeDiv .time {flex: 1;}

#recipes #timeDiv .time img {width: 30px; float: left; padding-right: 7px;}

#recipeCarousel  .carousel-control.left {background: none;}

#recipeCarousel  .carousel-control.right {background: none;}

#recipeCarousel h3 { font-family: "futura-pt", sans-serif; font-size: 30px;}

#recipeDetail {padding: 0px 13px;}
#recipeDetail h3 { font-family: "futura-pt", sans-serif; font-size: 40px;}

#blogHm {margin-top: 7em; margin-bottom: 7em;}
#blogHm a {color: #000; text-decoration: none;}

#blogHm img {transition: 1s;}
#blogHm img:hover {opacity: .8;}

.blogBox {display : flex; margin-bottom: 20px;}
.blogBox .blogImg {flex : 1; padding-bottom: 20px;}
.blogBox .blogContent {flex : 1;}
.blogBox .blogContent h4 {margin-top: 0px;}

.blogBox .blogImg img {width: 100%;}

#shopPlatforms {margin-bottom: 7em;}

#shopPlatforms #socialBox {display: flex;}

#shopPlatforms #socialBox .icon {flex: 1; padding: 25px 0px;}

#shopPlatforms #socialBox img {width: 90%; flex: 1; display: block; margin: 0px auto; transition: .3s;}
#shopPlatforms #socialBox img:hover {opacity: .8;}

footer {background-color: #eeb2ca;}

footer ul {list-style: none; padding-left: 0px;}

footer ul li { margin-bottom: 5px;}
footer ul li a {color: #000; transition: .3s;}
footer ul li a:hover {color: #000; text-decoration: none;}

footer h3 {font-family: "futura-pt", sans-serif; font-size: 30px;}
footer li {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 16px;}

#newsletterForm {
    padding-top: 30px;
    padding-bottom: 20px;
}

#newsletterForm {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 16px;}


#newsletterForm button {
    display: block;
    width: 100%;
    background: none;
    border: solid 2px #000;
    color: #000;
    transition: .3s;
    font-size: 20px;
}
#newsletterForm button:hover {
    background: #000;
    color: #fff;
}

ul#socialFooter {display: flex;}

ul#socialFooter li {padding-right: 10px;}

ul#socialFooter li img {width: 35px;}

#Copyright {text-align: center; padding-top: 30px; padding-bottom: 20px; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 16px;}

@media only screen and (max-width: 767px) {
    #landing .container-fluid, #landing .container-fluid .col-md-8 {
        padding: 0px;
    }

    /* #landing .ctaBtn {margin-left: 15px; margin-right: 15px;} */

    ul.dropdown-menu li{background-color: #eeb2ca; text-align: center; padding: 10px 0px;}

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 0px;
    }

    #landing .row {margin: 0px;}
}

#landingContainer h1 {font-family: 'Cookie', cursive; font-size: 60px; margin-bottom: 0px;}

.nav>li {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 18px;}

#myCarousel .item h3 {font-size: 30px; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

#myCarousel .item p {font-size: 16px; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

#cakepopBox h3 {font-size: 30px; color: #fff; background-color: #000; font-family: "futura-pt", sans-serif;}

#recipes p.subheading, #blogHm p.subheading {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 25px; padding-bottom: 25px;}

#blogHm h2 { font-family: "futura-pt", sans-serif; font-size: 30px;}

.blogContent {padding-left: 10px;}
.blogContent h4 {font-family: "futura-pt", sans-serif; font-size: 20px;}
.blogContent p {font-family: "futura-pt", sans-serif;}

#shopPlatforms h2 {font-family: "futura-pt", sans-serif; font-size: 30px; padding-bottom: 25px;}
#shopPlatforms p {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 20px; padding-bottom: 25px;}

@media only screen and (min-width: 768px) {
    #landing p, #shopHm p, #specials p, #newsletter p, #insta p, #recipes p, #blogHm p, #shopPlatforms p {font-size: 20px; margin: 0px;}

    .navbar {
        margin-bottom: 0px;
    }

    .nav>li {border-right: solid 1px #000; width: 152px; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 18px;}
    .nav>li:last-child {border-right:none;}

    .navbar-header {height: 100px;}

    #number {
        font-size: 30px;
    }

    .dropdown-menu {
        border-radius: 3px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #eeb2ca;
    }

    .dropdown-menu li {
        border-bottom: solid 1px #000;
    }

    .dropdown-menu li a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    ul.navbar-nav li.active a {background-color: #afe2e3;}


    .mobile {display: block;}
    .desk {display: none;}

    a.navbar-brand img {width: 180px;}

    .navbar {height: 210px;}

    .navbar .container {position: relative;}

    .navbar-nav {float: right; margin-top: 85px;}

    #number {
        transform: none;
        right: 45px;
        text-align: right;
        top: 30px;
    }

    a.ctaBtn{
        width: 130px;
    }

    #banner {background-color: #eeb2ca; height: 50px;}
    #banner p {font-size: 24px; text-align: center; line-height: 40px; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

    #landingCta {position: relative;}
    #landingContainer {
        width: 300px;
        display: block;
        margin: 0px auto;
        margin-top: 6em;
    }

	#landingContainer h1 {font-family: 'Cookie', cursive; font-size: 90px; margin-bottom: 0px;}

    #shopHm .mainBox a {color: #000; text-decoration: none;}

    .mainBox {position: relative; overflow: hidden;}

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      bottom: -100%;
      /* top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); */
      text-align: center;
      width: 100%;
    }

    .mainBox:hover .middle, #productCarousel .item:hover .middle, #blogHm .blogBox:hover .middle, #featuredBlogs .item:hover .middle, #blogs .blogBox:hover .middle, #allRecipes .mobile .recipeItem:hover .middle {
      opacity: 1;
      bottom: 0%;
      width: 100%;
      z-index: 10;
    }
    .text {
      background-color: #eeb3ca;
      color: #000;
      font-size: 16px;
      padding: 16px 32px;
      font-family: "futura-pt", sans-serif;
      font-style: normal;
      font-weight: 300;
    }

    .text:hover {cursor: pointer;}

    .text a {
      color: #000;
      text-decoration: none;
    }

    .carousel-control {color: #000;}
    .carousel-control:hover {color: #000;}
    .carousel-control:focus {color: #000;}

    #specials img {width: 100%;}

    #specials .col-md-6 {text-align: center; padding: 0px;}

    #specials .salesContent {position: relative;}

    #specials .salesContent .contentBox {
        position: absolute;
        top: 50%;
        transform: translate(0,30%);
        margin: 0px 35px;
        text-align: left;
        left: 30px;
    }

    #specials .salesContent .contentBox p {
        font-size: 16px;
        padding-bottom: 30px;
    }

    #specials .salesContent .contentBox .ctaBtn, #blogs .ctaBtn {
        float: left;
    }

     #specials .salesContent .contentBox .ctaBtn p{
        padding-bottom: 0px;
    }

    #specials .salesContent .contentBox h3 {font-size: 50px; "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

    #specials .salesContent .contentBox p.ctaBtn{
        border: solid 1px #000;
        display: block;
        color: #000;
        border-radius: 3px;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: .3s;
        text-align: center;
        width: 130px;
        margin: 0px auto;
        font-family: "futura-pt", sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    #specials .salesContent .contentBox p.ctaBtn:hover {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    #cakepopBox {width: 700px; top: 70%;}
    #cakepopBox h3 {font-size: 40px; color: #fff; background-color: #000; font-family: "futura-pt", sans-serif;}

    #cakepopBox .ctaBtn {width: 300px; margin-top: 30px;}

    #newsletter {
        background-image: url("../img/cakePops2.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 300px;

        margin-bottom: 6em;
    }

    #recipeDetail {
        display: block;
        margin: 0px auto;
        width: 500px;
    }

    #recipeCarousel .carousel-control .glyphicon-chevron-right, .carousel-control .icon-nextglyphicon .glyphicon-chevron-right {
        right: 25px;
    }

    #recipeCarousel .carousel-control .glyphicon-chevron-left, .carousel-control .icon-nextglyphicon .glyphicon-chevron-left {
        left: 25px;
    }

    .blogBox {display : block;}

    #shopPlatforms #socialBox img {width: 40%}
    #shopPlatforms #socialBox .icon:first-child img {float: right; margin-right: 25px;}
    #shopPlatforms #socialBox .icon:last-child img {float: left; margin-left: 25px;}

    #shopPlatforms p {width: 320px; display: block; margin: 10px auto;}

    .blogBox {overflow: hidden; position: relative}
    #blogHm .row {margin-top: 25px;}

    #recipes p.subheading, #blogHm p.subheading {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 25px; padding-bottom: 25px;}

    #blogHm h2 { font-family: "futura-pt", sans-serif; font-size: 40px;}

    #shopPlatforms h2 {font-family: "futura-pt", sans-serif; font-size: 40px; padding-bottom: 25px;}
    #shopPlatforms p {font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 25px; padding-bottom: 25px;}

}

/* ---------------------
shop css
---------------------*/
#imgHeader {position: relative;}

#imgHeader img {width: 100%;}

#imgHeader #imgText {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translate(0,-50%);
    text-align: right;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 3px 4px rgba(0,0,10,.8);
    font-family: "futura-pt", sans-serif;
    font-size: 35px;
}

#shop {padding-top: 4em;}

#shop img {
    width: 280px;
    display: block;
    margin: 0px auto;
}

#shop #mainProduct {
    text-align: center;
    margin-bottom: 4em;
}

#shop h2 {font-family: "futura-pt", sans-serif; font-size: 30px;}
#shop .featuredTitle {font-family: "futura-pt", sans-serif; font-size: 25px;}

#shop #mainProduct h2 {
    margin-top: 0px;
    font-family: "futura-pt", sans-serif; font-size: 30px;
}

.productSlider {margin-top: 3em; margin-bottom: 3em;}

#features .productSlider img {width: 190px; display: block; margin: 0px auto;}

.productSlider h1 {font-size: 22px;}

.sliderItem {text-align: center;}

.sliderItem p {font-size: 20px; padding: 10px 0px; font-family: "futura-pt", sans-serif;}

.sliderItem a {color: #000;}
.sliderItem a:hover {text-decoration: none;}

.slick-list {
    width: 430px;
    margin: 0px auto;
}

.slick-slider {
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    #imgHeader #imgText {
        right: 100px;
        font-size: 40px;
    }

    #imgHeader #imgText {font-family: "futura-pt", sans-serif; font-size: 60px;}

    #productName {margin-bottom: 35px; text-align: left;}

    #breadcrumbs {margin-top: 30px;}
}

/* ---------------------
product css
---------------------*/
#product {margin-bottom: 6em;}

#product img {width: 100%;}

#product h1 {font-size: 30px; font-family: "futura-pt", sans-serif; font-size: 30px;}

#product button {background-color: #eeb2ca;}

#product #thumbnails {list-style: none; padding-left: 0px; display: block; margin: 0px auto;}

#product #thumbnails li {width: 25%; float: left;}

#breadcrumbs ul {list-style: none; display: flex; font-family: "futura-pt", sans-serif; font-size: 20px;}

#breadcrumbs ul li {padding-right: 15px;}
#breadcrumbs ul li a {color: #000;}
#breadcrumbs ul li:last-child a {color: #337ab7; text-decoration: underline;}

#addtocart {margin-bottom: 4em; margin-top: 2em;}

.panel-group .panel {border-radius: 0px;}

.panel-default {border: none; box-shadow: none;}

.panel-default>.panel-heading {
    background: none;
    border-right: 0;
    border-left: 0;
    border-top: solid 2px #000;
}

.panel-group .panel-default:last-child {
    border-bottom: solid 2px #000;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .panel-title a {font-family: "futura-pt", sans-serif; font-size: 20px;}
  .panel-body {font-family: "futura-pt", sans-serif; font-size: 16px;}

    #productInfo #productName h1 {font-family: "futura-pt", sans-serif; font-size: 40px;}

    @media only screen and (min-width: 768px) {
        #productDetail {display: flex;}
        .productDetailBox {flex: 1;}

        #productInfo {margin-top: 6em;}
        .modal-body #productInfo {margin-top: 2em;}

        #addtocart a.ctaBtn {display: inline-block;}
    }
/* ---------------------
recipe-all css
---------------------*/
#allRecipes img {width: 100%;}
#allRecipes h3 {font-size: 20px; text-align: center;}
@media only screen and (max-width: 768px) {
    #allRecipes a {position: absolute; bottom: 20px; left: 50%; transform: translate(-50%,0%); width: 85%;}
    .desk .recipeItem a.ctaBtn {position: absolute; bottom: 0px;}
}

.recipeItem {height: 310px;}

@media only screen and (min-width: 768px) {
    .mobile .col-md-3 {padding: 5px;}
    .mobile .col-md-3 .text {margin-right: 10px;}

    .mobile .recipeItem {position: relative; height: auto; margin-bottom: 10px; margin-right: 0px; margin-left: 0px; overflow: hidden;}
}

/* ---------------------
single recipe css
---------------------*/
#allRecipes {margin-bottom: 6em;}

#recipe {margin-bottom: 7em; margin-top: 2em;}

#recipeHead {margin-bottom: 2em;}

#recipe .col-xs-12 img {width: 100%;}

#recipe h2 {padding-bottom: 25px;}

#recipe .col-xs-12 {padding: 0px;}
#recipe #procedure {padding-left: 15px; padding-right: 15px;}

#recipe #timeDiv {display: flex; padding: 3em 0px; padding-top: 1em;}

#recipe #timeDiv .time {flex: 1; text-align: center;}
#recipeDetail #timeDiv .time p { font-family: "futura-pt", sans-serif;}

#recipe #timeDiv .time img {width: 30px; float: left; padding-left: 7px;}

@media only screen and (min-width: 768px) {
    #recipe .col-xs-12 {padding: 15px;}
    #recipe #procedure {padding-left: 0px; padding-right: 0px;}

    #recipeCarousel #recipeDetail {margin-top: 80px;}
    #recipeDetail .ctaBtn {float: left;}
}

/* ---------------------
blogs css
---------------------*/
#blogs img {width: 100%;}
#blogs .aside {margin-top: 4em;}

#blogs .mobile {
    margin-top: 4em;
}

.posts {padding-top: 20px; padding-bottom: 20px;}
.posts p {font-size: 16px;padding-bottom: 10px;}
.posts img {padding-bottom: 10px;}

.carousel-inner a {color: #000; text-decoration: none; text-align: center;}

@media only screen and (min-width: 768px) {
    .blogContent a {color: #000; text-decoration: none;}
}

/* ---------------------
blogposts css
---------------------*/
#blogposts img {width: 100%; padding: 20px 0px;}

#blogposts .aside img {width: 280px; padding: 0px;}

#followSocial { text-align: center;}

#followSocial ul {display: flex; list-style: none; padding: 0px; width: 250px; margin: 0px auto;}

#followSocial ul li img {width: 75%;}

#featuredBlogs {margin-bottom: 4em; margin-top: 4em;}
#featuredBlogs .carousel {height: 310px;}

#featuredBlogs2 {margin-bottom: 4em; margin-top: 4em;}
#featuredBlogs2 .carousel {height: 360px;}

.carousel-indicators .active {background-color: #000;}
.carousel-indicators li {border: solid 2px #000;}

/*---------------------
contact css
---------------------*/
#contact img {width: 100%;}

#contactForm p, #retailForm p, #distributionForm p {text-align: center; font-size: 30px; font-family: "futura-pt", sans-serif; font-size: 16px;}

button.ctaBtn{
    width: 100%;
    border: solid 2px #000;
    display: block;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s;
    text-align: center;
}
button.ctaBtn:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.formSelect {background-color: #eeb2ca; margin-bottom: 2em;}
.formSelect h1 {font-size: 28px; padding: 20px 0px;font-size: 30px; font-family: "futura-pt", sans-serif; font-size: 30px;}
.formSelectBlu {background-color: #afe2e3;}
.formSelectBlu h1 {font-size: 28px; padding: 20px 0px; font-family: "futura-pt", sans-serif; font-size: 30px;}
#contact p {margin-bottom: 2em; margin-top: 2em; font-size: 16px;}
#contact form, #contact form input { font-family: "futura-pt", sans-serif; font-size: 16px;}

/* ---------------------
how-to-use css
--------------------- */
#howto h1 {text-align: center; padding: 2em 10px; padding-bottom: 1em; font-size: 30px; font-family: "futura-pt", sans-serif; border-bottom: solid 2px #000; width: 300px; display: block; margin: 0px auto; margin-bottom: 1em;}

#animeText {font-family: "futura-pt", sans-serif;}

.buttons {font-family: "futura-pt", sans-serif;}

#howto ul {font-style: normal; font-weight: 300; font-size: 16px; padding-top: 25px; padding-bottom: 25px;}

.howtoBox h2, .howtoBox h3 {text-align: center;}
.howtoBox h2 { font-family: "futura-pt", sans-serif;}
.howtoBox h3 {padding-bottom: 1em; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

.howtoBox p { font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 16px;}
.howtoBox ol { font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 16px; padding-top: 25px;}

#howtoPerslice {width: 100%; display: block; margin: 0px auto;}

.howtoBox {margin-bottom: 5em;}

#video {
    height: 300px;
    background-color: #eeb2ca;
}

#persliceAnimation {
  margin-bottom: 10em;
}

#persliceAnimation .cakeOutlines img {
  width: 80%;
  display: block;
  margin: 0px auto;
}

#persliceAnimation .cakeOutlines #animeText {
  color: #73A5A3;
  font-size: 3em;
  margin-bottom: 1.5em;
}

#persliceAnimation .buttonsRow {
  display: flex;
  text-align: center;
}

#persliceAnimation .buttonsRow .buttons {
  flex: 1;

  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 0 0em rgba(193,229,229, 1);
  box-shadow: inset 0 0 0 0em rgba(193,229,229, 1);
  background-color:  rgba(193,229,229, 1);
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px 10px;
  transition: 1s;

  animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

#persliceAnimation .buttonsRow .buttons:hover {

  -webkit-box-shadow: inset 0 0 0 2em rgba(115,165,163,1);
  box-shadow: inset 0 0 0 2em rgba(115,165,163,1);
  color: #fff;
  cursor: pointer;
}

#howto .row {margin-left: 0px; margin-right: 0px;}

.buttonsRow {padding-bottom: 3em;}

.howtoContainer {display: block; margin: 0px auto; width: 300px;}
.howtoIcons {display: flex; width: 300px; display: inline-flex; margin: 0px auto;}
.howtoIcons2 {display: flex;}
.howtoIcons img {width: 100%; display: block; margin: 0px auto;}
.howtoIcons2 img {width: 100%; display: block; margin: 0px auto;}
.howtoimg {flex: 1;}

@media only screen and (min-width: 768px) {
    #howto h1 {text-align: center; padding: 2em 1em; padding-bottom: 1em; font-size: 40px; font-family: "futura-pt", sans-serif; border-bottom: solid 2px #000; width: 600px; display: block; margin: 0px auto; margin-bottom: 1em;}

    #persliceAnimation .cakeOutlines img {
      width: 60%;
    }

    #howtoPerslice {width: 60%; display: block; margin: 0px auto;}

    .howtoContainer {display: block; margin: 0px auto; width: 600px;}
    .howtoIcons {display: flex;}
    .howtoIcons2 {display: flex;}
    .howtoIcons img {width: 200px; display: block; margin: 0px auto;}
    .howtoIcons2 img {width: 300px; display: block; margin: 0px auto;}
    .howtoimg {flex: 1;}

    #howto ul {display: block; margin: 0px auto; width: 500px; padding-bottom: 4em; padding-top: 4em; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300; font-size: 16px;}
}

/* ---------------------
faq css
---------------------*/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: "futura-pt", sans-serif;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#search {
    background-color: #eeb2ca;
    height: 100px;
    margin-bottom: 3em;
}

#faqHead {font-family: "futura-pt", sans-serif;}
#myTable b {font-family: "futura-pt", sans-serif; font-size: 20px;}

#myTable {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    #faqHead {text-align: center; padding: 15px 0px;}
    #myTable {margin-bottom: 6em;}
}

/*-------------------------------------
| event css
-------------------------------------*/
@media only screen and (min-width: 768px) {
    .aside h2 {font-size: 25px; text-align: left; margin-top: 5em;}
    .aside2 h2 {font-size: 25px; text-align: left; margin-top: 1em;}

    #blogs {margin-top: 2em;}


    .aside h2 {font-family: "futura-pt", sans-serif; font-size: 30px;}

    #blogs .aside a.ctaBtn {float: none; width: 100%;}
    #blogs .aside2 a.ctaBtn {float: none; width: 100%;}

    #blogs .posts h3 {font-size: 25px; text-align: left; font-family: "futura-pt", sans-serif; font-size: 40px;}
    #blogs h3 {text-align: center; font-family: "futura-pt", sans-serif; font-size: 26px;}
    #blogs h2 {font-size: 25px; text-align: left; font-family: "futura-pt", sans-serif; font-size: 26px;}
    #blogs h1 {font-size: 25px; text-align: left; font-family: "futura-pt", sans-serif; font-size: 40px;}

    #blogs p {font-size: 18px; text-align: center; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

    #blogs .posts p {text-align: left;}

    #blogposts .aside a.ctaBtn {float: none; width: 100%;}

    #blogposts .posts h3 {font-size: 25px; text-align: left; font-family: "futura-pt", sans-serif; font-size: 40px;}
    #blogposts h3 {text-align: center; font-family: "futura-pt", sans-serif; font-size: 26px;}
    #blogHeader h1 {font-size: 25px; text-align: left; font-family: "futura-pt", sans-serif; font-size: 40px;}

    #blogposts p {font-size: 18px; text-align: left; font-family: "futura-pt", sans-serif; font-style: normal; font-weight: 300;}

    #blogposts .posts p {text-align: left;}


    #featuredBlogs h2 {font-size: 25px; text-align: left; font-family: "futura-pt", sans-serif;}

    #featuredBlogs .carousel {
        height: 300px;
    }

    #featuredBlogs .carousel h3 {margin-top: 0px;}
    #blogHeader p {font-size: 16px;}

    #blogposts {margin-bottom: 6em;}

    #blogs .posts {margin-bottom: 4em;}

}

#terms, #policy {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 5em;
}

@media only screen and (max-width: 768px) {
    ul#socialFooter li img {
    width: 28px;
}
}