/* ---------------------
index css
---------------------*/
#landing p, #shopHm p, #specials p, #newsletter p, #insta p, #recipes p, #blogHm p, #shopPlatforms p {font-size: 16px;}

#banner {background-color: #eeb2ca;}

#banner p {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0,0,0,.5);
    padding: 5px 10px;
    margin-bottom: 0px;
 }

 .navbar {
     margin-bottom: 0px;
 }

 .navbar-header {height: 100px;}

#number {
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #000;
}

ul.navbar-nav {text-align: center;}

ul.navbar-nav li a {color: #000; transition: .3s;}
ul.navbar-nav li a:hover {background-color: #eeb2ca;}

ul.navbar-nav li.active a {font-weight: bold;}

 button span.icon-bar {
     background-color: #000;
     margin-top: 25px;
 }

a.navbar-brand img {width: 75px;}

#landing, #shopHm, #specials, #newsletter, #insta, #recipes, #blogHm, #shopPlatformp {padding-bottom: 4em;}

#landingImg img {
    width: 100%;
}

#landingCta {
    text-align: center;
}

#landingCta p {padding: 10px 0px;}

a.ctaBtn{
    border: solid 2px #000;
    display: block;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s;
    text-align: center;
}
a.ctaBtn:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

#shopHm {
        margin-top: 3em;
        margin-bottom: 3em;
}

#shopHm #saleTag {
    font-size: 22px;
    background-color: #afe2e3;
    width: 100px;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 20px;
}

#shopHm img {
    width: 100%;
    display: block;
    margin: 0px auto;
}

#shopHm .col-md-6 {
    text-align: center;
    margin-bottom: 4em;
}

#shopHm p.productPrice, #mainProduct p.productPrice, #product p.productPrice, .aside p.productPrice {font-size: 20px; padding: 10px 0px;}

#myCarousel {height: 540px;}

#myCarousel .carousel-inner {
    text-align: center;
}

#myCarousel .item span {
    text-transform: uppercase;
    font-weight: bold;
}

#myCarousel .item h3 {
    padding-top: 10px;
}

#myCarousel .item p {
    padding: 10px 20px;
}

#myCarousel .item a.ctaBtn {
    margin: 0px 13px;
}

#myCarousel .carousel-control.left {background: none;}
#myCarousel .carousel-control.right {background: none;}

#newsletter {
    background-image: url("../img/cakePops.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

    margin-bottom: 6em;
}

#cakepopBox {
    text-align: center;
    width: 93%;
    position: relative;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
}

#cakepopBox h3 {margin-top: 0px; font-weight: bold;}

#insta .col-xs-6 {
    padding: 0px;
}

#insta {margin-top: 5em;}

#insta .head {margin: 0px 5px;}

#insta .col-xs-6 img {
    width: 100%;
    transition: .3s;
}
#insta .col-xs-6 img:hover {opacity: .7}

#recipes {margin-top: 7em; margin-bottom: 7em;}

#recipes .col-md-8 img {width: 100%;}

#recipes h2 {padding-bottom: 25px;}

#recipes .col-md-8 {padding: 0px;}

#recipes #timeDiv {display: flex; padding: 3em 0px; padding-top: 1em;}

#recipes #timeDiv .time {flex: 1;}

#recipes #timeDiv .time img {width: 30px; float: left; padding-right: 7px;}

#recipeCarousel  .carousel-control.left {background: none;}

#recipeCarousel  .carousel-control.right {background: none;}

#recipeDetail {padding: 0px 13px;}

#blogHm {margin-top: 7em; margin-bottom: 7em;}
#blogHm a {color: #000; text-decoration: none;}

.blogBox {display : flex; margin-bottom: 20px;}
.blogBox .blogImg {flex : 1;}
.blogBox .blogContent {flex : 1; padding-left: 5px;}
.blogBox .blogContent h4 {margin-top: 0px;}

.blogBox .blogImg img {width: 100%;}

#shopPlatforms {margin-bottom: 7em;}

#shopPlatforms #socialBox {display: flex;}

#shopPlatforms #socialBox .icon {flex: 1; padding: 25px 0px;}

#shopPlatforms #socialBox img {width: 90%; flex: 1; display: block; margin: 0px auto;}

footer {background-color: #eeb2ca;}

footer ul {list-style: none; padding-left: 0px;}

footer ul li { margin-bottom: 5px;}
footer ul li a {color: #000; transition: .3s;}
footer ul li a:hover {color: #000; text-decoration: none;}

#newsletterForm {
    padding-top: 30px;
    padding-bottom: 20px;
}

#newsletterForm button {
    display: block;
    width: 100%;
    background: none;
    border: solid 2px #000;
    color: #000;
    transition: .3s;
}
#newsletterForm button:hover {
    background: #000;
    color: #fff;
}

ul#socialFooter {display: flex;}

ul#socialFooter li {padding-right: 10px;}

ul#socialFooter li img {width: 35px;}

#Copyright {text-align: center; padding-top: 30px; padding-bottom: 20px;}

@media only screen and (max-width: 767px) {
    #landing .container-fluid, #landing .container-fluid .col-md-8 {
        padding: 0px;
    }

    #landing .ctaBtn {margin-left: 15px; margin-right: 15px;}

    ul.dropdown-menu li{background-color: #eeb2ca; text-align: center; padding: 10px 0px;}

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 0px;
    }

    #landing .row {margin: 0px;}
}

/* ---------------------
shop css
---------------------*/
#imgHeader {position: relative;}

#imgHeader img {width: 100%;}

#imgHeader #imgText {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translate(0,-50%);
    text-align: right;
    font-size: 30px;
}

#shop {padding-top: 4em;}

#shop img {
    width: 280px;
    display: block;
    margin: 0px auto;
}

#shop #mainProduct {
    text-align: center;
    margin-bottom: 4em;
}

#shop #mainProduct h2 {
    margin-top: 0px;
}

.productSlider {margin-top: 3em; margin-bottom: 3em;}

#features .productSlider img {width: 190px; display: block; margin: 0px auto;}

.productSlider h1 {font-size: 22px;}

.sliderItem {text-align: center;}

.sliderItem p {font-size: 20px; padding: 10px 0px;}

.sliderItem a {color: #000;}
.sliderItem a:hover {text-decoration: none;}

.slick-list {
    width: 430px;
    margin: 0px auto;
}

.slick-slider {
    overflow: hidden;
}

/* ---------------------
product css
---------------------*/
#product {margin-bottom: 6em;}

#product img {width: 100%;}

#product h1 {font-size: 30px;}

#product button {background-color: #eeb2ca;}

#product #thumbnails {list-style: none; padding-left: 0px; display: block; margin: 0px auto;}

#product #thumbnails li {width: 25%; float: left;}

#breadcrumbs ul {list-style: none; display: flex;}

#breadcrumbs ul li {padding-right: 15px;}
#breadcrumbs ul li a {color: #000;}
#breadcrumbs ul li:last-child a {color: #337ab7; text-decoration: underline;}

#addtocart {margin-bottom: 4em; margin-top: 2em;}

.panel-group .panel {border-radius: 0px;}

.panel-default {border: none; box-shadow: none;}

.panel-default>.panel-heading {
    background: none;
    border-right: 0;
    border-left: 0;
    border-top: solid 2px #000;
}

.panel-group .panel-default:last-child {
    border-bottom: solid 2px #000;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .panel-heading a {
      font-size: 20px;
    }
/* ---------------------
recipe-all css
---------------------*/
#allRecipes img {width: 100%;}
#allRecipes h3 {font-size: 20px; text-align: center;}
#allRecipes a {position: absolute; bottom: 20px; left: 50%; transform: translate(-50%,0%); width: 85%;}

.recipeItem {height: 310px;}

/* ---------------------
single recipe css
---------------------*/
#allRecipes {margin-bottom: 6em;}

#recipe {margin-bottom: 7em;}

#recipeHead {margin-bottom: 2em;}

#recipe .col-md-8 img {width: 100%;}

#recipe h2 {padding-bottom: 25px;}

#recipe .col-md-8 {padding: 0px;}

#recipe #timeDiv {display: flex; padding: 3em 0px; padding-top: 1em;}

#recipe #timeDiv .time {flex: 1;}

#recipe #timeDiv .time img {width: 30px; float: left; padding-right: 7px;}

/* ---------------------
blogs css
---------------------*/
#blogs img {width: 100%;}
#blogs .aside {margin-top: 4em;}

.posts {padding-top: 20px; padding-bottom: 20px;}
.posts p {font-size: 16px;padding-bottom: 10px;}
.posts img {padding-bottom: 10px;}

.carousel-inner a {color: #000; text-decoration: none; text-align: center;}

/* ---------------------
blogposts css
---------------------*/
#blogposts img {width: 100%; padding: 20px 0px;}

#blogposts .aside img {width: 280px; padding: 0px;}

#followSocial { text-align: center;}

#followSocial ul {display: flex; list-style: none; padding: 0px; width: 250px; margin: 0px auto;}

#followSocial ul li img {width: 75%;}

#featuredBlogs {margin-bottom: 4em; margin-top: 4em;}
#featuredBlogs .carousel {height: 310px;}

#featuredBlogs2 {margin-bottom: 4em; margin-top: 4em;}
#featuredBlogs2 .carousel {height: 360px;}

.carousel-indicators .active {background-color: #000;}
.carousel-indicators li {border: solid 2px #000;}

/*---------------------
contact css
---------------------*/
#contact img {width: 100%;}

#contactForm p, #retailForm p, #distributionForm p {text-align: center;}

button.ctaBtn{
    width: 100%;
    border: solid 2px #000;
    display: block;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s;
    text-align: center;
}
button.ctaBtn:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.formSelect {background-color: #eeb2ca; margin-bottom: 2em;}
.formSelect h1 {font-size: 28px; padding: 20px 0px;}
.formSelectBlu {background-color: #afe2e3;}
.formSelectBlu h1 {font-size: 28px; padding: 20px 0px;}
#contact p {margin-bottom: 2em; margin-top: 2em; font-size: 16px;}

/* ---------------------
how-to-use css
--------------------- */
#howto h1 {text-align: center; padding: 2em 1em; font-size: 30px;}

#video {
    height: 300px;
    background-color: #eeb2ca;
}

#persliceAnimation {
  margin-bottom: 10em;
}

#persliceAnimation .cakeOutlines img {
  width: 80%;
  display: block;
  margin: 0px auto;
}

#persliceAnimation .cakeOutlines #animeText {
  color: #73A5A3;
  font-size: 3em;
  margin-bottom: 1.5em;
}

#persliceAnimation .buttonsRow {
  display: flex;
  text-align: center;
}

#persliceAnimation .buttonsRow .buttons {
  flex: 1;

  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 0 0em rgba(193,229,229, 1);
  box-shadow: inset 0 0 0 0em rgba(193,229,229, 1);
  background-color:  rgba(193,229,229, 1);
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px 10px;
  transition: 1s;

  animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

#persliceAnimation .buttonsRow .buttons:hover {

  -webkit-box-shadow: inset 0 0 0 2em rgba(115,165,163,1);
  box-shadow: inset 0 0 0 2em rgba(115,165,163,1);
  color: #fff;
  cursor: pointer;
}

/* ---------------------
faq css
---------------------*/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#search {
    background-color: #eeb2ca;
    height: 100px;
    margin-bottom: 3em;
}